body {
    background-color: aquamarine;
}

.selected_item{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
}

.plot_parameters {
    width: 35%;
    height: 595px;
    /* height: 0%; */
    float: left;
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
}

#gen_type {
    visibility: hidden;
}

label {
    font-family: 'Courier New', Courier, monospace, bold;
    font-size: 20px;
}

option {
    font-family: 'Courier New', Courier, monospace, bold;
    font-size: 15px;
    font-weight: bold;
}
/* 
#Check1 {
    margin-right: 300px;
    display: inline-block
}

#Check2 {
    margin-right: 200px;
    display: inline-block
}

#Check3 {
    margin-left: 100px;
    display: inline-block
} */

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    /* width: 80%; */
    text-align: center;
    text-decoration: underline;
}

th{
    background-color: rgb(0, 200, 100);
    font-size: 18px;
}

tr{
    background-color: chartreuse;
    font-weight: bold;
}

.redirect_buttons{
    display: flex;
    justify-content: center;
}

.button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
    background-color: blue; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
}

.button:hover{
    background-color: red;
    transition: 0.5s;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}

.refresh{
    margin-left: 29.5%;
    margin-top: 27.5%;
    margin-right: auto;
}
