@charset "ISO-8859-1";

body{
	background-color: rgb(255, 224, 130);
}


h1 {
	text-align: center;
	color: darkblue;
}

p { 
	text-align: center; 
	color: darkred;
}

form {
	border: 1px dashed black;
	padding: 20px 0px;
	margin: 20px 0px; 
}

.logintable {
	width:100px; 
	padding: 20px 30px; 
	text-align: center; 
	margin: 5px; 
	margin-left:auto; 
	margin-right:auto; 
	font-size: 25px;
}

.logintable1 {
	background-color: lightgrey;
	width:700px; 
	padding: 20px 30px; 
	text-align: center; 
	margin: 5px; 
	margin-left:auto; 
	margin-right:auto; 
	border: 2px solid gray; 
	border-radius: 15px;
	font-size: 25px;
}

.logintable2 {
	width:100px; 
	padding: 20px 30px; 
	text-align: center; 
	margin: 5px; 
	margin-left:auto; 
	margin-right:auto; 
}

th, td { 
	text-align: left; 
	padding: 5px; 
	font-family: Arial, Helvetica, sans-serif; 
}

th {
	font-weight: bold;
	font-size: 1.3em;
}

input {
	padding: 5px 10px; 
	border-radius: 5px; 
	font-size: 1.3em;
}

#checkData {
	border: 1px solid darkgray;
	border-radius: 5px;
	padding: 5px; 
	background-color: lightgray;
}

#checkData:hover {
	cursor: pointer;
	background-color: lightgreen;
}

#back {
	text-align: center;
}

#daysleft {
	border: 1px solid darkgray;
	border-radius: 5px;
	padding: 5px; 
	background-color: white;
}

 /* Dropdown Button */


.button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
    background-color: blue; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
	border-radius: 20px;
	font-size: 35px;
}

.button:hover{
    background-color: red;
    transition: 0.5s;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 
