#title{
    color: indigo;
    text-align: center;
    border: solid 4px;
    border-color: aqua;
    border-radius: 10px;
    font-size: 50px;
}


body{
    background: url(energy.jpg);
    background-size: cover;
}

.mylogin{
  width: 15%;
  margin: auto;
}